.hidden {
	display: none;
}
input.seamless,
textarea.seamless {
	border: none;
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

#note-container {
	width: 100%;
}
button > object {
	pointer-events: none;
}
article.note {
	border: 1px solid black;
	width: 300px;
	float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 0.5em;
	background-color: lightYellow;
	box-shadow: 5px 5px 2px #888888;
}
div[role="module"] {
	margin-top: 1ex;
	margin-bottom: 1ex;
}
div[role="module"] > * {
	margin: 0;
}
.image-module > img {
	display: block;
	margin: auto;
}
*[role="module"] *[contenteditable="true"],
*[role="module"] *[contenteditable="true"] {
	color: blue;
}
.li-spacer {
	display: flex;
	justify-content: flex-end;
}
li {
	width: 100%;
}
.remove-bullet-button {
	color: red;
	border: none;
	background-color: inherit;
	font-size: inherit;
}
.module-adder-module,
.remove-confirm-module,
.edit-control-module {
	display: none;
}
.button-spacer {
	display: flex;
	justify-content: space-between;
}
.button-spacer button {
	height: 50px;
	flex-grow: 0;
	justify-content: space-around;
	flex-basis: 100%;
	font-size: 1em;
}
button > * {
	max-width:  90%;
	max-height: 90%;
}
.remove-confirm-btn {
	background-color: red;
}
.remove-cancel-btn {
	background-color: lightBlue;
}
.meta-control-module button {
	background-color: inherit;
	border: none;
}
.module-btn {
	font-family: monospace;
	background-color: inherit;
	border: none;
	font-size: 2em !important;
}
.footer-module > .id {
	float: right;
	color: grey;
	font-size: 10pt;
}
.checkbox-list {
	padding-left: 20px;
}
.checkbox-list li {
	cursor: pointer;
	list-style-position: inside;
}
.checkbox-list li.checked {
	text-decoration: line-through;
	color: gray;
}
.checkbox-list li.new-item {
	list-style: none;
}
.checkbox-list li.new-item:before {
	content: "+";
}
.checkbox-list li.new-item > form {
	margin: 0px;
	padding: 0px;
	margin-left: 0.4em;
	display: inline;
	width: 100%;
}
