/*** General stuff ***/

.hidden {
	display: none;
}

input.seamless,
textarea.seamless {
	border: none;
	background-color: inherit;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
}

#note-container {
	width: 100%;
}

button > object {
	pointer-events: none;
}

/*** NOTE ***/

/* Note */
article.note {
	border: 1px solid black;
	width: 300px;
	float: left;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 0.5em;
	/*
	font-family: sans;
	font-size: 12px;
	*/
	background-color: lightYellow;

	box-shadow: 5px 5px 2px #888888;

}

/*** MODULE BASE ***/

/* Module spacing */
div[role="module"] {
	margin-top: 1ex;
	margin-bottom: 1ex;
	/* TODO side margin size */
	/*
	margin-left: 1em;
	*/
}

/* Module spacing should be set for module class */
div[role="module"] > * {
	margin: 0;
}

/*** SPECIFIC MODULES ***/

/* Center image module image */
.image-module > img {
	display: block;
	margin: auto;
}

/*
#note-container > article > div[role="module"] > p > textarea {
	width: 100%;
}

#note-container > article.new-note textarea {
	width: 100%;
	overflow: wrap;
}

*/

/*** EDIT MODE ***/

/* TODO possibly prettier way to indicate editable */
*[role="module"] *[contenteditable="true"],
*[role="module"] *[contenteditable="true"] {
	color: blue;
}

/* List edit */

.li-spacer {
	display: flex;
	justify-content: flex-end;
}

/* Possibly only set this for .li-spacer li */
li {
	width: 100%;
}

.remove-bullet-button {
	color: red;
	border: none;
	background-color: inherit;
	font-size: inherit;
}

/*** META CONTROL MODULE ***/

/* These are hidden by default so they can be show from js when needed */
.module-adder-module,
.remove-confirm-module,
.edit-control-module {
	display: none;
}

.button-spacer {
	display: flex;
	justify-content: space-between;
}

/* Grow all elements to equal size, space them evenly, fill the area */
.button-spacer button {
	height: 50px;
	flex-grow: 0;
	justify-content: space-around;
	flex-basis: 100%;
	font-size: 1em;
}

/* SVG icon size contrain */
button > * {
	max-width:  90%;
	max-height: 90%;
}

.remove-confirm-btn {
	background-color: red;
}
.remove-cancel-btn {
	background-color: lightBlue;
}

.meta-control-module button {
	background-color: inherit;
	border: none;
}

/*** MODULE ADDER ***/

/*
.module-adder-module button {
*/
.module-btn {
	font-family: monospace;
	background-color: inherit;
	border: none;
	/* TODO figure out how to remove important */
	font-size: 2em !important;
}

/*
button.header-module-btn {
	background-color: blue;
}

button.text-module-btn {
	background-color: yellow;
}

button.list-module-btn {
	background-color: green;
}

button.image-module-btn {
	background-color: red;
}
*/


/*** OTHER ***/

/*
 * Note type background
 * In the future this will probably be replaced
 * by a note by note color
 */
/*
#note-container > article.note {
	background-color: lightYellow;
}
#note-container > article.error {
	background-color: pink;
}
#note-container > article.list {
	background-color: lightGreen;
}
#note-container > article.new-note {
	background-color: lightBlue;
}

#note-container > article > .footer-module {
	border-top: 1px solid grey;
	margin-top: 1ex;
}
*/

/* Note footer */
.footer-module > .id {
	float: right;
	color: grey;
	font-size: 10pt;
}


/*** CHECKBOX LIST ***/

/* Note checkbox list */
.checkbox-list {
	padding-left: 20px;
}

.checkbox-list li {
	cursor: pointer;
	list-style-position: inside;
}
.checkbox-list li.checked {
	text-decoration: line-through;
	color: gray;
}

.checkbox-list li.new-item {
	list-style: none;
}
.checkbox-list li.new-item:before {
	content: "+";
}

.checkbox-list li.new-item > form {
	margin: 0px;
	padding: 0px;
	margin-left: 0.4em;
	display: inline;
	width: 100%;
}
/*
.checkbox-list > li.new-item input {
}
*/
